# macOS
.DS_Store
*.DS_Store

# Xcode
xcuserdata/
*.xcscmblueprint
*.xccheckout
*.moved-aside
DerivedData/
.derivedData/
*.hmap
*.ipa
*.xcuserstate
*.xcworkspace/xcuserdata/

# Swift Package Manager
.build/
Packages/
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# General
*.tmp
*.swp
*.log
